[Unit]
Description=Shadow Miner Server
## make sure we only start the service after network is up
Wants=network-online.target
After=network.target

[Service]
## use 'Type=forking' if the service backgrounds itself
## other values are Type=simple (default) and Type=oneshot
Type=simple
## here we can set custom environment variables
#Environment=AUTOSSH_GATETIME=0
#Environment=AUTOSSH_PORT=0
ExecStart=/usr/local/bin/ShadowMiner/smserver start
ExecStop=/usr/local/bin/ShadowMiner/smserver stop
### NOTE: you can have multiple `ExecStop` lines
# don't use 'nobody' if your script needs to access user files
# (if User is not set the service will run as root)
#User=nobody

# Useful during debugging; remove it once the service is working
StandardOutput=console

[Install]
WantedBy=multi-user.target

